.regular-table {
    tr {
        td {
            span {
                display: inline-block;
            }
        }
        td:nth-child(4) {
            border-top: hidden;
            border-bottom: hidden;
        }
    }
}

.wrapper {
    max-width: 95vw;
    overflow-x: auto;
}

.filtered-table {
    thead {
        tr {
            td {
                white-space: nowrap;
            }

            .header-text {
                text-align: center;
                font-weight: bold;
                white-space: nowrap;
            }
        }
    }

    tbody {
        tr {
            td:nth-child(1) {
                font-weight: bold;
                white-space: nowrap;
            }
        }
    }
}

.amount::first-letter {
    padding-right: 0.3em;
}

.button-row {
    display: flex;
    width: 490px;
    height: 52px;
    justify-content: flex-end;
}

::ng-deep mat-form-field .mat-form-field-wrapper .mat-form-field-flex {
    background-color: transparent;
}