<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="main-wrapper">
  <div class="p-5 w-100">
    <div class="d-flex">
      <div class="input-wrapper d-flex">
        <mat-form-field appearance="fill" class="mr-2 custom-width">
          <mat-label>Option</mat-label>
          <mat-select multiple [formControl]="selectedFranchiseName">
            <mat-option>
              <ngx-mat-select-search [formControl]="searchOptionText" placeholderLabel="Search"
                noEntriesFoundLabel="no matching option found">
              </ngx-mat-select-search>
            </mat-option>
            <mat-option value="all" #allSelected (click)="toggleAllSelection()">Select All</mat-option>
            <mat-option *ngFor="let franchiseName of searchedFranchiseNames" [value]="franchiseName.value"
              (click)="onSelectFranchiseName()">{{franchiseName.label}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="d-flex align-items-center">
        <mat-form-field appearance="fill" class="date-picker">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" [formControl]="invoiceCreatedDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <h4 class="mx-4 my-0 pb-3">COMPARE WITH</h4>

        <mat-form-field appearance="fill" class="date-picker">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="comparisonPicker" [formControl]="comparisonDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="comparisonPicker"></mat-datepicker-toggle>
          <mat-datepicker #comparisonPicker></mat-datepicker>
        </mat-form-field>
      </div>
      </div>

    </div>


    <div class="custom-table-wrapper">
      <div class="mb-2 d-none">
        <button type="button" class="btn btn-sm btn-outline-primary mr-2" (click)="expandAll()">Expand all</button>
        <button type="button" class="btn btn-sm btn-outline-danger mr-2" (click)="collapseAll()">Collapse all</button>
      </div>
      <!-- <ngb-accordion #asset="ngbAccordion" [activeIds]="activeIds1">
        <ngb-panel id="asset-panel"> -->
          <!-- <ng-template ngbPanelHeader>
            <button type="button" ngbPanelToggle class="p-0 btn btn-link container-fluid text-start ps-0">
              <div class="custom-header">
                <div>ASSETS</div> -->
                <!-- <div>
                  <button type="button" class="btn btn-sm btn-outline-primary mr-2" (click)="expandAll()">Expand all</button>
                  <button type="button" class="btn btn-sm btn-outline-danger mr-2" (click)="collapseAll()">Collapse all</button>
                </div> -->
              <!-- </div>
            </button>
          </ng-template> -->
          <!-- <ng-template ngbPanelContent> -->
            <ngb-accordion *ngIf="false" #acc="ngbAccordion" [activeIds]="activeIds2">
              <ngb-panel title="CURRENT ASSETS" id="current-asset">
                <ng-template ngbPanelContent>
                  <ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds3">
                    <ngb-panel id="cashAndCashEq">
                      <ng-template ngbPanelHeader>
                        <button type="button" ngbPanelToggle class="p-0 btn btn-link container-fluid text-start ps-0">
                          <div class="custom-header">
                            <div>Cash and cash equivalents</div>
                            <div class="report-content">{{totalCashAndCashEq | currency}}</div>
                          </div>
                        </button>
                      </ng-template>

                      <ng-template ngbPanelContent>
                        <div class="report-wrap" *ngFor="let franchise of franchiseToShow">
                          <div class="report-head">
                            {{franchise.label}}
                          </div>
                          <div class="report-content">
                            {{(Math.abs(cashAndCashEq[franchise.value]))|| 0 | currency}}
                          </div>
                        </div>
                      </ng-template>
                    </ngb-panel>
                    <ngb-panel id="accountReceivables">
                      <ng-template ngbPanelHeader>
                        <button type="button" ngbPanelToggle class="p-0 btn btn-link container-fluid text-start ps-0">
                          <div class="custom-header">
                            <div>Customer Accounts Receivables</div>
                            <div class="report-content">{{totalAccountsReceivables | currency}}</div>
                          </div>
                        </button>
                      </ng-template>
                      <ng-template ngbPanelContent>
                        <div class="report-wrap" *ngFor="let franchise of franchiseToShow">
                          <div class="report-head">
                            {{franchise.label}}
                          </div>
                          <div class="report-content">
                            {{(accountsReceivables[franchise.value]['netPrice'] + (accountsReceivables[franchise.value]['tax'] || 0)+
                            Math.abs(accountsReceivables[franchise.value]['refund'])-accountsReceivables[franchise.value]['amountPaid']-accountsReceivables[franchise.value]['writeOffs'])||0
                            | currency}}
                          </div>
                        </div>
                      </ng-template>
                    </ngb-panel>
                  </ngb-accordion>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          <!-- </ng-template> -->
        <!-- </ngb-panel>
      </ngb-accordion> -->

      <table class="table balance-sheet-report">
        <thead>
          <tr>
            <th>Particulars</th>
            <th *ngIf="displayComparisonFields">{{date2ToDisplay}}</th>
            <th>{{date1ToDisplay}}</th>
            <ng-container *ngIf="displayComparisonFields">
              <th>(+)(-)</th>
              <th>%(+)(-)</th>
            </ng-container>
          </tr>
        </thead>
        <tr class="expand-main" (click)="expandMain = !expandMain">
          <th [colSpan]="displayComparisonFields ? '5': '2'">Current Assets</th>
        </tr>
        
        <tr *ngIf="expandMain" class="table-header-data" (click)="expandCash = !expandCash">
          <th>Cash and cash equivalents </th>
          <th *ngIf="displayComparisonFields">{{totalCompareCashAndCashEq | currency}}</th>
          <th>{{totalCashAndCashEq | currency}}</th>
          <ng-container *ngIf="displayComparisonFields">
            <th>
              <span>{{(totalCashAndCashEq - totalCompareCashAndCashEq) > 0 ? '(+)': (totalCashAndCashEq - totalCompareCashAndCashEq) < 0 ?'(-)' : ''}}</span> 
              {{(Math.abs(totalCashAndCashEq - totalCompareCashAndCashEq).toFixed(2)) | currency}}
            </th>
            <th>
              <span>{{(totalCashAndCashEq - totalCompareCashAndCashEq) > 0 ? '(+)': (totalCashAndCashEq - totalCompareCashAndCashEq) < 0 ?'(-)' : ''}}</span> 
              {{(Math.abs(totalCashAndCashEq - totalCompareCashAndCashEq)/totalCompareCashAndCashEq*100).toFixed(2)}}
            </th>
          </ng-container>
        </tr>
        
        <ng-container *ngIf="expandMain && expandCash">
          <ng-container *ngFor="let franchise of franchiseToShow; let i = index">

            <tr  style="cursor: pointer;" (click)="expandFranchise[i] = !expandFranchise[i]">
              <td>{{franchise.label}}</td>
              <td *ngIf="displayComparisonFields"><span *ngIf="compareCashAndCashEqMain[franchise.value] < 0">(</span>{{Math.abs(compareCashAndCashEqMain[franchise.value])|| 0 | currency}}<span *ngIf="compareCashAndCashEqMain[franchise.value] < 0">)</span></td>
              <td><span *ngIf="cashAndCashEqMain[franchise.value] < 0">(</span>{{(Math.abs(cashAndCashEqMain[franchise.value]))|| 0 | currency}}<span *ngIf="cashAndCashEqMain[franchise.value] < 0">)</span></td>
              <ng-container *ngIf="displayComparisonFields">
                <td>
                  <span>{{(cashAndCashEqMain[franchise.value] - compareCashAndCashEqMain[franchise.value]) > 0 ? '(+)': (cashAndCashEqMain[franchise.value] - compareCashAndCashEqMain[franchise.value]) < 0 ?'(-)' : ''}}</span> 
                  {{(Math.abs(cashAndCashEqMain[franchise.value] - compareCashAndCashEqMain[franchise.value]).toFixed(2)) || 0 | currency}}
                </td>
                <td>
                  <span>{{(cashAndCashEqMain[franchise.value] - compareCashAndCashEqMain[franchise.value]) > 0 ? '(+)': (cashAndCashEqMain[franchise.value] - compareCashAndCashEqMain[franchise.value]) < 0 ?'(-)' : ''}}</span> 
                  {{(Math.abs(cashAndCashEqMain[franchise.value] - compareCashAndCashEqMain[franchise.value])/compareCashAndCashEqMain[franchise.value]*100).toFixed(2)}}
                </td>
              </ng-container>
            </tr>
  
            <tr class="border-none" *ngIf="expandMain && expandCash && expandFranchise[i]">
              <td class="pl-4">Ending Bank Balance</td>
              <td *ngIf="displayComparisonFields">{{Math.abs(compareCashAndCashEq[franchise.value]['endingBankBalance'])|| 0 | currency}}</td>
              <td>{{(Math.abs(cashAndCashEq[franchise.value]['endingBankBalance']))|| 0 | currency}}</td>
              <ng-container *ngIf="displayComparisonFields">
                <td>
                  <span>{{(cashAndCashEq[franchise.value]['endingBankBalance'] - compareCashAndCashEq[franchise.value]['endingBankBalance']) > 0 ? '(+)': (cashAndCashEq[franchise.value]['endingBankBalance'] - compareCashAndCashEq[franchise.value]['endingBankBalance']) < 0 ?'(-)' : ''}}</span> 
                  {{(Math.abs(cashAndCashEq[franchise.value]['endingBankBalance'] - compareCashAndCashEq[franchise.value]['endingBankBalance']).toFixed(2)) | currency}}
                </td>
                <td>
                  <span>{{(cashAndCashEq[franchise.value]['endingBankBalance'] - compareCashAndCashEq[franchise.value]['endingBankBalance']) > 0 ? '(+)': (cashAndCashEq[franchise.value]['endingBankBalance'] - compareCashAndCashEq[franchise.value]['endingBankBalance']) < 0 ?'(-)' : ''}}</span> 
                  {{(Math.abs(cashAndCashEq[franchise.value]['endingBankBalance'] - compareCashAndCashEq[franchise.value]['endingBankBalance'])/compareCashAndCashEq[franchise.value]['endingBankBalance']*100).toFixed(2)}}
                </td>
              </ng-container>
            </tr>
            <tr class="border-none" *ngIf="expandMain && expandCash && expandFranchise[i]">
              <td  class="pl-4">Uncleared Cheques</td>
              <td *ngIf="displayComparisonFields"><span *ngIf="compareCashAndCashEq[franchise.value]['unclearedCheck'] < 0">(</span>{{Math.abs(compareCashAndCashEq[franchise.value]['unclearedCheck'])|| 0 | currency}}<span *ngIf="compareCashAndCashEq[franchise.value]['unclearedCheck'] < 0">)</span></td>
              <td><span *ngIf="cashAndCashEq[franchise.value]['unclearedCheck'] < 0">(</span>{{Math.abs(cashAndCashEq[franchise.value]['unclearedCheck'])|| 0 | currency}}<span *ngIf="cashAndCashEq[franchise.value]['unclearedCheck'] < 0">)</span></td>
              <ng-container *ngIf="displayComparisonFields">
                <td>
                  <span>{{(cashAndCashEq[franchise.value]['unclearedCheck'] - compareCashAndCashEq[franchise.value]['unclearedCheck']) > 0 ? '(+)': (cashAndCashEq[franchise.value]['unclearedCheck'] - compareCashAndCashEq[franchise.value]['unclearedCheck']) < 0 ?'(-)' : ''}}</span> 
                  {{(Math.abs(cashAndCashEq[franchise.value]['unclearedCheck'] - compareCashAndCashEq[franchise.value]['unclearedCheck']).toFixed(2)) | currency}}
                </td>
                <td>
                  <span>{{(compareCashAndCashEq[franchise.value]['unclearedCheck'] && (cashAndCashEq[franchise.value]['unclearedCheck'] - compareCashAndCashEq[franchise.value]['unclearedCheck'])) > 0 ? '(+)': (compareCashAndCashEq[franchise.value]['unclearedCheck'] && (cashAndCashEq[franchise.value]['unclearedCheck'] - compareCashAndCashEq[franchise.value]['unclearedCheck'])) < 0 ?'(-)' : ''}}</span> 
                  {{compareCashAndCashEq[franchise.value]['unclearedCheck'] ? (Math.abs(cashAndCashEq[franchise.value]['unclearedCheck'] - compareCashAndCashEq[franchise.value]['unclearedCheck'])/compareCashAndCashEq[franchise.value]['unclearedCheck']*100).toFixed(2) : 0}}
                </td>
              </ng-container>
            </tr>
          </ng-container>
        </ng-container>
        
        <tr *ngIf="expandMain" class="table-header-data" (click)="expandAccount = !expandAccount">
          <th>Customer Accounts Receivables </th>
          <th *ngIf="displayComparisonFields">{{totalCompareAccountsReceivables | currency}}</th>
          <th>{{totalAccountsReceivables | currency}}</th>
          <ng-container *ngIf="displayComparisonFields">
            <th>
              <span>{{(totalAccountsReceivables - totalCompareAccountsReceivables) > 0 ? '(+)': (totalAccountsReceivables - totalCompareAccountsReceivables) < 0 ?'(-)' : ''}}</span> 
              {{(Math.abs(totalAccountsReceivables - totalCompareAccountsReceivables).toFixed(2)) | currency}}
            </th>
            <th>
              <span>{{(totalAccountsReceivables - totalCompareAccountsReceivables) > 0 ? '(+)': (totalAccountsReceivables - totalCompareAccountsReceivables) < 0 ?'(-)' : ''}}</span> 
              {{(Math.abs(totalAccountsReceivables - totalCompareAccountsReceivables)/totalCompareAccountsReceivables*100).toFixed(2)}}
            </th>
          </ng-container>
        </tr>
        <ng-container *ngIf="expandMain && expandAccount">
          <tr  *ngFor="let franchise of franchiseToShow">
            <td>{{franchise.label}}</td>
            <td *ngIf="displayComparisonFields">{{(compareAccountsReceivables[franchise.value]['displayAmount'])||0 | currency}}</td>
            <td>{{(accountsReceivables[franchise.value]['displayAmount'])||0 | currency}}</td>
            <ng-container *ngIf="displayComparisonFields">
              <td>
                <span>{{(accountsReceivables[franchise.value]['displayAmount'] - compareAccountsReceivables[franchise.value]['displayAmount']) > 0 ? '(+)': (accountsReceivables[franchise.value]['displayAmount'] - compareAccountsReceivables[franchise.value]['displayAmount']) < 0 ?'(-)' : ''}}</span> 
                {{(Math.abs(accountsReceivables[franchise.value]['displayAmount'] - compareAccountsReceivables[franchise.value]['displayAmount']).toFixed(2)) || 0 | currency}}
              </td>
              <td>
                <span>{{(accountsReceivables[franchise.value]['displayAmount'] - compareAccountsReceivables[franchise.value]['displayAmount']) > 0 ? '(+)': (accountsReceivables[franchise.value]['displayAmount'] - compareAccountsReceivables[franchise.value]['displayAmount']) < 0 ?'(-)' : ''}}</span> 
                {{(Math.abs(accountsReceivables[franchise.value]['displayAmount'] - compareAccountsReceivables[franchise.value]['displayAmount'])/compareAccountsReceivables[franchise.value]['displayAmount']*100).toFixed(2) || 0}}
              </td>
            </ng-container>
          </tr>
        </ng-container>
      </table>

    </div>
  </div>
</div>